<ion-view title="{{marca}}">
<ion-content overflow-scroll="true" class="has-header">
    <ion-list>
      <ion-item ng-repeat="producto in productos">

		<div class="row">
		  <div class="col">
			  <center>
			  	<a href="#/tab/product/{{producto[0].id}}/{{marca}}">
					<button class="button button-outline button-stable">
						<div>
							$ {{producto[0].price}}
						</div>				 			
						<img src="{{producto[0].thumbnail}}" height="100" width="100">
						<br><br>
					</button>	
				</a>
			  </center>  
		  </div>
		  <div class="col">
			  <center>
			  	<a href="#/tab/product/{{producto[1].id}}/{{marca}}">
					<button class="button button-outline button-stable">
						<div>
							$ {{producto[1].price}}
						</div>				 			
						<img src="{{producto[1].thumbnail}}" height="100" width="100">
						<br><br>
					</button>	
				</a>
			  </center>
		  </div>
		</div>
	  </ion-item>	    
    </ion-list>
    <br><br>    
	</ion-content>
	
	<div class="tabs tabs-icon-only tabs-dark">
  		<div class="tab-item"><i class="icon ion-heart"></i></div>
	</div>
	
</ion-view>	