<ion-view title="{{marca}}">
<ion-content overflow-scroll="true" class="has-header">
    <ion-list>
      <ion-item ng-repeat="producto in productos" href="#/app/product/{{producto.id}}">
		<!--
		<div class="list">			
		    <a class="item item-thumbnail-left" href="#/app/product/{{producto.id}}">
		      <img src="{{producto.thumbnail}}">
		      <h2>{{producto.title}}</h2>
		      <p>$ {{producto.price}} o {{producto.installments.quantity}} cuotas de $ {{producto.installments.amount}}</p>
		      <h5>Disponibles: {{producto.available_quantity}}</h5>
		    </a>
		</div>
		-->
			  <center><img src="{{producto.thumbnail}}" height="140" width="140"></center>
		      <h2>{{producto.title}}</h2>
		      <p>$ {{producto.price}} o {{producto.installments.quantity}} cuotas de $ {{producto.installments.amount}}</p>
		      <h5>Disponibles: {{producto.available_quantity}}</h5>				     
	  </ion-item>	    
    </ion-list>
	</ion-content>
	<div class="tabs tabs-icon-only">
	  <a class="tab-item">
	    <i class="icon ion-heart"></i>
	  </a>
	</div>
</ion-view>	