<html ng-app="ionicApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    
    <title>Tiendas Oficiales</title>

    <link href="http://code.ionicframework.com/1.0.0-beta.6/css/ionic.css" rel="stylesheet">
    <script src="http://code.ionicframework.com/1.0.0-beta.6/js/ionic.bundle.js"></script>    
    <script src="lib/ionic/js/angular/angular-resource.js"></script>
        
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/page2.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    
  </head>

  <body bgcolor="#E6E6FA">
    
    <ion-nav-bar class="nav-title-slide-ios7 bar-dark">
<div class="button-bar">
  <a class="button" href="#/tab/home">Tiendas</a>
  <a class="button" href="#/tab/categories">Categorias</a>
</div>    

    	<!--
      <ion-nav-back-button class="button-icon ion-arrow-left-c">
      </ion-nav-back-button>
               -->         
    </ion-nav-bar>
             
    <ion-nav-view animation="slide-left-right"></ion-nav-view>

    <script id="tabs.html" type="text/ng-template">
    <ion-nav-view name="home-tab"></ion-nav-view>
    	
    	<!--
      <ion-tabs class="tabs-icon-top tabs-positive">

        <ion-tab title="Home" icon="ion-home" href="#/tab/home">
          <ion-nav-view name="home-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="About" icon="ion-ios7-information" href="#/tab/about">
          <ion-nav-view name="about-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Contact" icon="ion-ios7-world" ui-sref="tabs.contact">
          <ion-nav-view name="contact-tab"></ion-nav-view>
        </ion-tab>

      </ion-tabs>
      -->
    </script>

    <script id="home.html" type="text/ng-template">
    
		<ion-view title="">
		  
		    <ion-content overflow-scroll="true" class="has-header">        
		    <ion-list>
		      <ion-item ng-repeat="playlist in playlists">
				<div class="row" row-center>
				  <div class="col"><a  href="#/tab/playlists/{{playlist[0].brands[0].name}}/{{playlist[0].user_id}}"><img src="{{playlist[0].brands[0].big_logo}}" height="90" width="90"></a></div>
				  <div class="col"><a  href="#/tab/playlists/{{playlist[1].brands[0].name}}/{{playlist[1].user_id}}"><img src="{{playlist[1].brands[0].big_logo}}" height="90" width="90"></a></div>
				  <div class="col"><a  href="#/tab/playlists/{{playlist[2].brands[0].name}}/{{playlist[2].user_id}}"><img src="{{playlist[2].brands[0].big_logo}}" height="90" width="90"></a></div>
				</div>
		      </ion-item>
		    </ion-list>
		
		  </ion-content>
		</ion-view>
    
     </script>
     
    <script id="categories.html" type="text/ng-template">
    
		<ion-view title="">
		  
		    <ion-content overflow-scroll="true" class="has-header">        
		    <ion-list>
		      <ion-item ng-repeat="categ in categories">
				<div class="row" row-center>
				  <div class="col"><div style="font-size: small;">{{categ[0].name.substring(0,18)}}</div><a href="#/tab/itemcateg/{{categ[0].id}}/{{categ[0].name.substring(0,18)}}"><img src="{{categ[0].picture}}" height="120" width="120"></a></div>
				  <div class="col"><div style="font-size: small;">{{categ[1].name.substring(0,18)}}</div><a href="#/tab/itemcateg/{{categ[1].id}}/{{categ[1].name.substring(0,18)}}"><img src="{{categ[1].picture}}" height="120" width="120"></a></div>
				</div>
		      </ion-item>
		    </ion-list>
		
		  </ion-content>
		</ion-view>
    
     </script>
   
  </body>
</html>